In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np
import os
import re

## Read in All Data

In [2]:
source_dir = '/mnt/c/Users/natra/Documents/Research/Iraq-post-conflict-rebel-governance'
iom_adm3_mapping = source_dir + '/data/iom/iom_adm3_mapping.csv'
iom_data_file = source_dir + '/data/iom/iom_raw.xlsx'
ag_indices_file = source_dir + '/data/satellite_indices/evi/evi_mask_mean_max_min/evi_stats_Jan2001-Dec2022.csv'
adm3_xsub_file = source_dir + '/data/conflict/adm3_xsub_monthly.csv'
pop_dir = source_dir + '/data/population/'
adm3_sunni_eth_file = source_dir + '/data/EPR/adm3_sunni_epr.csv'

# NOTE - as-is, there is a duplicate ADM3_PCODE in this shapefile!! 
# IQG01Q05N01 is for both Abi Gharaq and Markaz Ana
iraq_shp_adm3_loc = source_dir + '/data/geo_boundaries/irq-administrative-divisions-shapefiles/irq_admbnda_adm3_cso_20190603.shp'

In [3]:
iom_adm3_map = pd.read_csv(iom_adm3_mapping)
iom_data = pd.read_excel(iom_data_file, sheet_name="Full Dataset",header=1)
ag_data = pd.read_csv(ag_indices_file)
adm3_xsub = pd.read_csv(adm3_xsub_file)
iraq_shp_adm3 = gpd.read_file(iraq_shp_adm3_loc)
adm3_sunni_eth = pd.read_csv(adm3_sunni_eth_file)

In [4]:
# obtain desired info from IOM
iom_data_filt = iom_data.loc[:,('LocationID','DateofInterview','Q1.10 IsLocationInDisputedArea',
                                'Q1.11 WasLocationOccupied','Q1.11.1 RetakenPeriod',
                                'Q1.12 FirstMajorEthno-religiousPrior','Q1.13 FirstMajorEthno-religiousCurrent')]

In [5]:
# concatenate population year files
# processing of global tif files into iraq adm3 regions done in Google Colab Pro - 
# below I'm reading in the output of the Colab files

pop_dfs = []
for file in os.listdir(pop_dir):
    if file.endswith('.csv'):
        file_path = pop_dir + file
        df = pd.read_csv(file_path, index_col=None)
        pop_dfs.append(df)
pop_df_full = pd.concat(pop_dfs, axis=0, ignore_index=True)

## Merge all data at monthly, adm3 level

In [7]:
# get max evi at monthly level
ag_data_max = ag_data.loc[:,('ADM3_EN','max_evi','max_evi_scaled','date')]
ag_data_max['date'] = pd.to_datetime(ag_data_max['date'])
ag_data_max = ag_data_max.set_index('date')
ag_data_max_month = ag_data_max.groupby(['ADM3_EN'])[['max_evi','max_evi_scaled']].resample('ME').max()

ag_data_max_month.head()

                       max_evi  max_evi_scaled
ADM3_EN    date
Abi Gharaq 2001-01-31   5416.0          0.5416
           2001-02-28   6291.0          0.6291
           2001-03-31   6513.0          0.6513
           2001-04-30   5332.0          0.5332
           2001-05-31   5147.0          0.5147

In [8]:
# get mean evi at monthly level
ag_data_avg = ag_data.loc[:,('ADM3_EN','mean_evi','mean_evi_scaled','date')]
ag_data_avg['date'] = pd.to_datetime(ag_data_avg['date'])
ag_data_avg = ag_data_avg.set_index('date')
ag_data_avg_month = ag_data_avg.groupby(['ADM3_EN'])[['mean_evi','mean_evi_scaled']].resample('ME').mean()

ag_data_avg_month.head()

                          mean_evi  mean_evi_scaled
ADM3_EN    date
Abi Gharaq 2001-01-31  2886.373490         0.288637
           2001-02-28  3094.206464         0.309421
           2001-03-31  3275.809481         0.327581
           2001-04-30  2596.503366         0.259650
           2001-05-31  2161.217474         0.216122

In [9]:
ag_data_monthly = ag_data_avg_month.join(ag_data_max_month)
print(ag_data_avg_month.shape)
print(ag_data_max_month.shape)
print(ag_data_monthly.shape)

(77616, 2)
(77616, 2)
(77616, 4)

In [10]:
# xsub only goes until 2019-12-31
adm3_xsub_mon = adm3_xsub.rename(columns={'month':'date'})
adm3_xsub_mon = adm3_xsub_mon.drop(columns=['ADM3_PCODE'])
adm3_xsub_mon = adm3_xsub_mon.set_index(['ADM3_EN','date'])
adm3_xsub_mon.head()

                       ACTION_IND  ACTION_DIR  ACTION_PRT
ADM3_EN    date
Abi Gharaq 2017-12-31           1           1           0
           2018-01-31           0           0           0
           2018-02-28           0           0           0
           2018-03-31           0           0           0
           2018-04-30           0           0           0

In [11]:
# join agricultural EVI indices with xsub conflict data
adm3_iraq_data = ag_data_monthly.join(adm3_xsub_mon)
print(ag_data_monthly.shape)
print(adm3_xsub_mon.shape)
print(adm3_iraq_data.shape)
adm3_iraq_data = adm3_iraq_data.reset_index()

(77616, 4)
(23658, 3)
(77616, 7)

In [12]:
adm3_iraq_data.head()

,ADM3_EN,date,mean_evi,mean_evi_scaled,max_evi,max_evi_scaled,ACTION_IND,ACTION_DIR,ACTION_PRT
0,Abi Gharaq,2001-01-31,2886.373490,0.288637,5416.0,0.5416,NaN,NaN,NaN
1,Abi Gharaq,2001-02-28,3094.206464,0.309421,6291.0,0.6291,NaN,NaN,NaN
2,Abi Gharaq,2001-03-31,3275.809481,0.327581,6513.0,0.6513,NaN,NaN,NaN
3,Abi Gharaq,2001-04-30,2596.503366,0.259650,5332.0,0.5332,NaN,NaN,NaN
4,Abi Gharaq,2001-05-31,2161.217474,0.216122,5147.0,0.5147,NaN,NaN,NaN

In [13]:
# no duplicates at this point
adm3_iraq_data[adm3_iraq_data.duplicated(subset=['date','ADM3_EN'],keep=False)]

Empty DataFrame
Columns: [ADM3_EN, date, mean_evi, mean_evi_scaled, max_evi, max_evi_scaled, ACTION_IND, ACTION_DIR, ACTION_PRT]
Index: []

In [14]:
# make xsub conflict values 0 for un-defined time periods where we have xsub data; otherwise 
# keep NA. Have data from 2001-01-01 until 2019-12-31
min_xsub = pd.to_datetime('2001-01-01')
max_xsub = adm3_xsub.month.max()

adm3_iraq_data['ACTION_IND'] = np.where(((adm3_iraq_data['date']>=min_xsub)&(adm3_iraq_data['date']<=max_xsub)&(adm3_iraq_data.ACTION_IND.isna())),0,adm3_iraq_data.ACTION_IND)
adm3_iraq_data['ACTION_DIR'] = np.where(((adm3_iraq_data['date']>=min_xsub)&(adm3_iraq_data['date']<=max_xsub)&(adm3_iraq_data.ACTION_DIR.isna())),0,adm3_iraq_data.ACTION_DIR)
adm3_iraq_data['ACTION_PRT'] = np.where(((adm3_iraq_data['date']>=min_xsub)&(adm3_iraq_data['date']<=max_xsub)&(adm3_iraq_data.ACTION_PRT.isna())),0,adm3_iraq_data.ACTION_PRT)
adm3_iraq_data.head()

,ADM3_EN,date,mean_evi,mean_evi_scaled,max_evi,max_evi_scaled,ACTION_IND,ACTION_DIR,ACTION_PRT
0,Abi Gharaq,2001-01-31,2886.373490,0.288637,5416.0,0.5416,0.0,0.0,0.0
1,Abi Gharaq,2001-02-28,3094.206464,0.309421,6291.0,0.6291,0.0,0.0,0.0
2,Abi Gharaq,2001-03-31,3275.809481,0.327581,6513.0,0.6513,0.0,0.0,0.0
3,Abi Gharaq,2001-04-30,2596.503366,0.259650,5332.0,0.5332,0.0,0.0,0.0
4,Abi Gharaq,2001-05-31,2161.217474,0.216122,5147.0,0.5147,0.0,0.0,0.0

In [15]:
# no duplicates at this point
adm3_iraq_data[adm3_iraq_data.duplicated(subset=['date','ADM3_EN'],keep=False)]

Empty DataFrame
Columns: [ADM3_EN, date, mean_evi, mean_evi_scaled, max_evi, max_evi_scaled, ACTION_IND, ACTION_DIR, ACTION_PRT]
Index: []

In [16]:
# create 5-year interval fields to join with population data
adm3_iraq_data['year'] = adm3_iraq_data['date'].dt.year
adm3_iraq_data['year_5yr'] = np.where(
                               adm3_iraq_data['year'] < 2005, 2000,
                               np.where(adm3_iraq_data['year'] < 2010, 2005,
                                np.where(adm3_iraq_data['year'] < 2015, 2010,
                                np.where(adm3_iraq_data['year'] < 2020, 2015,
                                np.where(adm3_iraq_data['year'] < 2025, 2020, 0)))))
adm3_iraq_data.head()

,ADM3_EN,date,mean_evi,mean_evi_scaled,max_evi,max_evi_scaled,ACTION_IND,ACTION_DIR,ACTION_PRT,year,year_5yr
0,Abi Gharaq,2001-01-31,2886.373490,0.288637,5416.0,0.5416,0.0,0.0,0.0,2001,2000
1,Abi Gharaq,2001-02-28,3094.206464,0.309421,6291.0,0.6291,0.0,0.0,0.0,2001,2000
2,Abi Gharaq,2001-03-31,3275.809481,0.327581,6513.0,0.6513,0.0,0.0,0.0,2001,2000
3,Abi Gharaq,2001-04-30,2596.503366,0.259650,5332.0,0.5332,0.0,0.0,0.0,2001,2000
4,Abi Gharaq,2001-05-31,2161.217474,0.216122,5147.0,0.5147,0.0,0.0,0.0,2001,2000

In [17]:
# no duplicates at this point
adm3_iraq_data[adm3_iraq_data.duplicated(subset=['date','ADM3_EN'],keep=False)]

Empty DataFrame
Columns: [ADM3_EN, date, mean_evi, mean_evi_scaled, max_evi, max_evi_scaled, ACTION_IND, ACTION_DIR, ACTION_PRT, year, year_5yr]
Index: []

In [18]:
# join population data by ADM3_PCODE and 5-year interval
pop_df_join = pop_df_full.drop(columns=['Shape_Area'])
print(adm3_iraq_data.shape)
adm3_iraq_data = adm3_iraq_data.merge(pop_df_join, how='outer',left_on=['ADM3_EN','year_5yr'],
                                      right_on=['ADM3_EN','year'])
adm3_iraq_data = adm3_iraq_data.drop(columns=['year_x','year_y','year_5yr'])
print(pop_df_join.shape)
print(adm3_iraq_data.shape)

(77616, 11)
(1470, 4)
(77616, 11)

In [19]:
# no duplicates at this point
adm3_iraq_data[adm3_iraq_data.duplicated(subset=['date','ADM3_EN'],keep=False)]

Empty DataFrame
Columns: [ADM3_EN, date, mean_evi, mean_evi_scaled, max_evi, max_evi_scaled, ACTION_IND, ACTION_DIR, ACTION_PRT, pop_count, pop_density]
Index: []

In [20]:
adm3_iraq_data.head()

,ADM3_EN,date,mean_evi,mean_evi_scaled,max_evi,max_evi_scaled,ACTION_IND,ACTION_DIR,ACTION_PRT,pop_count,pop_density
0,Abi Gharaq,2001-01-31,2886.373490,0.288637,5416.0,0.5416,0.0,0.0,0.0,137199.66,8.709119e+06
1,Abi Gharaq,2001-02-28,3094.206464,0.309421,6291.0,0.6291,0.0,0.0,0.0,137199.66,8.709119e+06
2,Abi Gharaq,2001-03-31,3275.809481,0.327581,6513.0,0.6513,0.0,0.0,0.0,137199.66,8.709119e+06
3,Abi Gharaq,2001-04-30,2596.503366,0.259650,5332.0,0.5332,0.0,0.0,0.0,137199.66,8.709119e+06
4,Abi Gharaq,2001-05-31,2161.217474,0.216122,5147.0,0.5147,0.0,0.0,0.0,137199.66,8.709119e+06

#### IOM Data Preparation

In [21]:
# format IOM data for joining
iom_data_filt = iom_data_filt.rename(columns={
                                    'Q1.10 IsLocationInDisputedArea':'disputed_area',
                                    'Q1.11 WasLocationOccupied':'loc_occupied',
                                    'Q1.11.1 RetakenPeriod':'retaken_period',
                                    'Q1.12 FirstMajorEthno-religiousPrior':'maj_ethrelig_prior',
                                    'Q1.13 FirstMajorEthno-religiousCurrent':'maj_ethrelig_curr'         
                                    })

In [22]:
# add flags for whether attacked, occupied, or no ISIL activity
iom_data_filt['iom_attacked'] = np.where(iom_data_filt['loc_occupied']=='Yes, attacked', 1, 0)
iom_data_filt['iom_occupied'] = np.where(iom_data_filt['loc_occupied']=='Yes, occupied', 1, 0)
iom_data_filt['iom_no_isil_action'] = np.where(iom_data_filt['loc_occupied']=='No', 1, 0)
# add flags for whether in ISIL religious-ethnic group prior to crisis and currently
iom_data_filt['isil_ingroup_prior'] = np.where(iom_data_filt['maj_ethrelig_prior']=='Arab Sunni Muslim', 1, 0)
iom_data_filt['isil_ingroup_curr'] = np.where(iom_data_filt['maj_ethrelig_curr']=='Arab Sunni Muslim', 1, 0)
# convert disputed area answers to 1,0 flags
iom_data_filt['disputed_area'] = np.where(iom_data_filt['disputed_area']=='Yes', 1, 0)

In [23]:
# add flag for whether retaken pre- or post-2016 as indicator for long or short-term occupation
iom_data_filt['retaken_year'] = iom_data_filt['retaken_period'].str.extract("(\d\d\d\d)")
iom_data_filt['retaken_year'] = iom_data_filt['retaken_year'].astype('float')
iom_data_filt['retaken_post_2016'] = np.where(iom_data_filt['retaken_year'].isna(),iom_data_filt['retaken_year'],
                                              np.where(iom_data_filt['retaken_year']>=2017,1,0))

In [24]:
# drop unnecessary columns
iom_data_filt = iom_data_filt.drop(columns=['loc_occupied','retaken_period','maj_ethrelig_prior',
                                            'maj_ethrelig_curr','DateofInterview'])

In [25]:
iom_adm3_data = iom_data_filt.merge(iom_adm3_map.loc[:,('LocationID','ADM3_EN')],how='left',
                                    on='LocationID')
print(iom_data_filt.shape)
print(iom_adm3_data.shape)

(3717, 9)
(3717, 10)

In [26]:
# to aggregate, want to take the max of all fields except for iom_no_isil_action, which we want to take the
# min of - if any part of the adm3 area had isil action, we don't want to flag it as not having any action
iom_adm3_data_for_min = iom_adm3_data.loc[:,('ADM3_EN','iom_no_isil_action')]
iom_adm3_data_for_max = iom_adm3_data.drop(columns=['LocationID','iom_no_isil_action'])

In [27]:
iom_adm3_data_max_gb = iom_adm3_data_for_max.groupby(['ADM3_EN']).max().reset_index()
iom_adm3_data_min_gb = iom_adm3_data_for_min.groupby(['ADM3_EN']).min().reset_index()

In [28]:
iom_adm3_data_fin = iom_adm3_data_max_gb.merge(iom_adm3_data_min_gb,how='outer',
                                               on='ADM3_EN')
print(iom_adm3_data_max_gb.shape)
print(iom_adm3_data_min_gb.shape)
print(iom_adm3_data_fin.shape)

(215, 8)
(215, 2)
(215, 9)

In [29]:
# add IOM data to full dataset
print(adm3_iraq_data.shape)
adm3_iraq_data = adm3_iraq_data.merge(iom_adm3_data_fin, how='outer',
                                      on='ADM3_EN')
print(adm3_iraq_data.shape)

(77616, 11)
(77616, 19)

In [30]:
# identify number of Adm3 areas with no IOM data
len(adm3_iraq_data[adm3_iraq_data['iom_occupied'].isna()].ADM3_EN.unique())

79

In [32]:
adm3_iraq_data[adm3_iraq_data.duplicated(subset=['ADM3_EN','date'],keep=False)]

Empty DataFrame
Columns: [ADM3_EN, date, mean_evi, mean_evi_scaled, max_evi, max_evi_scaled, ACTION_IND, ACTION_DIR, ACTION_PRT, pop_count, pop_density, disputed_area, iom_attacked, iom_occupied, isil_ingroup_prior, isil_ingroup_curr, retaken_year, retaken_post_2016, iom_no_isil_action]
Index: []

In [37]:
# add in GeoEPR data
adm3_sunni_eth = adm3_sunni_eth.drop(columns=['ADM3_PCODE']) 
adm3_iraq_data = adm3_iraq_data.merge(adm3_sunni_eth, on=['ADM3_EN'],how='left')
print(adm3_iraq_data.shape)
adm3_iraq_data[adm3_iraq_data.duplicated(subset=['ADM3_EN','date'],keep=False)]

(77616, 22)

Empty DataFrame
Columns: [ADM3_EN, date, mean_evi, mean_evi_scaled, max_evi, max_evi_scaled, ACTION_IND, ACTION_DIR, ACTION_PRT, pop_count, pop_density, disputed_area, iom_attacked, iom_occupied, isil_ingroup_prior, isil_ingroup_curr, retaken_year, retaken_post_2016, iom_no_isil_action, sunni_dom, sunni_mix, no_sunni]
Index: []

[0 rows x 22 columns]

In [38]:
adm3_iraq_data.head(2)

,ADM3_EN,date,mean_evi,mean_evi_scaled,max_evi,max_evi_scaled,ACTION_IND,ACTION_DIR,ACTION_PRT,pop_count,...,iom_attacked,iom_occupied,isil_ingroup_prior,isil_ingroup_curr,retaken_year,retaken_post_2016,iom_no_isil_action,sunni_dom,sunni_mix,no_sunni
0,Abi Gharaq,2001-01-31,2886.373490,0.288637,5416.0,0.5416,0.0,0.0,0.0,137199.66,...,0.0,0.0,0.0,0.0,NaN,NaN,1.0,0,0,1
1,Abi Gharaq,2001-02-28,3094.206464,0.309421,6291.0,0.6291,0.0,0.0,0.0,137199.66,...,0.0,0.0,0.0,0.0,NaN,NaN,1.0,0,0,1

In [40]:
# attach Adm3 geometries and parent areas to final dataset
iraq_shp_adm3_filt = iraq_shp_adm3.loc[:,('Shape_Area', 'ADM3_EN', 'ADM3_AR', 'ADM3_PCODE',
       'ADM2_EN', 'ADM2_AR', 'ADM2_PCODE', 'ADM1_EN', 'ADM1_AR', 'ADM1_PCODE',
       'geometry')]
print(adm3_iraq_data.shape)
adm3_iraq_data_fin = adm3_iraq_data.merge(iraq_shp_adm3_filt, how='left',
                                          on='ADM3_EN')
adm3_iraq_data_fin = adm3_iraq_data_fin.rename(columns={'date':'month'})
print(adm3_iraq_data_fin.shape)

(77616, 22)
(77616, 32)

In [41]:
adm3_iraq_data_fin[adm3_iraq_data_fin.duplicated(subset=['month','ADM3_EN'],keep=False)]

Empty DataFrame
Columns: [ADM3_EN, month, mean_evi, mean_evi_scaled, max_evi, max_evi_scaled, ACTION_IND, ACTION_DIR, ACTION_PRT, pop_count, pop_density, disputed_area, iom_attacked, iom_occupied, isil_ingroup_prior, isil_ingroup_curr, retaken_year, retaken_post_2016, iom_no_isil_action, sunni_dom, sunni_mix, no_sunni, Shape_Area, ADM3_AR, ADM3_PCODE, ADM2_EN, ADM2_AR, ADM2_PCODE, ADM1_EN, ADM1_AR, ADM1_PCODE, geometry]
Index: []

[0 rows x 32 columns]

In [42]:
monthly_adm3_geo_file = source_dir + '/data/combined/monthly_adm3_data.geojson'
adm3_iraq_data_fin_gpd = gpd.GeoDataFrame(adm3_iraq_data_fin,geometry=adm3_iraq_data_fin['geometry'])
adm3_iraq_data_fin_gpd.to_file(monthly_adm3_geo_file,driver='GeoJSON')

In [43]:
monthly_adm3_file = source_dir + '/data/combined/monthly_adm3_data.csv'
adm3_iraq_data_fin.drop(columns=['geometry']).to_csv(monthly_adm3_file,index=False,
                                                     encoding='utf-8-sig')